<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>techmart.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>techmart.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>techmart.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>techmart.ProductUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>techmart.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>techmart.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>techmart.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyNowServlet</servlet-name>
        <servlet-class>techmart.BuyNowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>techmart.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyNowServlet</servlet-name>
        <url-pattern>/BuyNowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
